
.Modal{
	display: flex;
	justify-content: left;
	width: 350px;
	height: 220px;
	padding: 10px;
	background-color: #0f253d;
	position: fixed;
	top: 30%;
	left: 40%;
	border: transparent;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(253, 255, 253, 0.7);
	
  }



  .submit_button{
	color:white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 120px;
	margin-top: 5px;
	margin-left: 1px;
	margin-right: 10px;
	margin-bottom: 5px;
	background: transparent;
	border: transparent;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255, 253, 253, 0.7);
}

	.submit_button:hover {
		box-shadow: 0 0 10px rgb(255, 255, 255);
		background: #153252;
	}

  .cancel_button{
	color:white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 120px;
	margin-top: 5px;
	margin-left: 1px;
	margin-bottom: 5px;
	background: transparent;
	border: transparent;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255, 253, 253, 0.7);
}

.cancel_button:hover {
	box-shadow: 0 0 10px rgb(255, 255, 255);
	background: #153252;
}






